# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

# Ambiente virtual
.venv/
venv/
env/

# Streamlit
.streamlit/secrets.toml

# Arquivos gerados
*.docx
outputs/

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
